In [1]:
!git clone https://github.com/e9t/nsmc.git

fatal: destination path 'nsmc' already exists and is not an empty directory.

In [2]:
import pandas as pd
raw_data = pd.read_table('nsmc/ratings.txt')

print(len(raw_data))

200000

In [3]:
raw_data.head(5)

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [4]:
# 중복 제거
raw_data['document'].nunique()

df = raw_data.drop_duplicates(subset=['document'])
print(len(df))

194544

In [5]:
print(len(raw_data))

200000

In [6]:
# null값 제거
df['document'].isnull().sum()

df = df.dropna(how='any')

df.isnull().sum()

id          0
document    0
label       0
dtype: int64

In [7]:
df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [8]:
len(df)

194543

In [9]:
df_1 = df[:500]
df_2 = df[500:1000]
df_3 = df[1000:1500]
df_4 = df[1500:2000]
df_5 = df[2000:2500]
df_6 = df[2500:3000]
df_7 = df[3000:3500]
df_8 = df[3500:4000]
df_9 = df[4000:4500]
df_10 = df[4500:5000]

In [10]:
df_1.to_csv("raw_data_1.csv", index=False, encoding='utf-8-sig')
df_2.to_csv("raw_data_2.csv", index=False, encoding='utf-8-sig')
df_3.to_csv("raw_data_3.csv", index=False, encoding='utf-8-sig')
df_4.to_csv("raw_data_4.csv", index=False, encoding='utf-8-sig')
df_5.to_csv("raw_data_5.csv", index=False, encoding='utf-8-sig')
df_6.to_csv("raw_data_6.csv", index=False, encoding='utf-8-sig')
df_7.to_csv("raw_data_7.csv", index=False, encoding='utf-8-sig')
df_8.to_csv("raw_data_8.csv", index=False, encoding='utf-8-sig')
df_9.to_csv("raw_data_9.csv", index=False, encoding='utf-8-sig')
df_10.to_csv("raw_data_10.csv", index=False, encoding='utf-8-sig')

In [11]:
pd.read_csv("raw_data_1.csv")

           id                                           document  label
0     8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1     8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2     4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3     9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4    10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
..        ...                                                ...    ...
495   4455637                 정말..내가 본 일본영화중 최고인것 같다..마음을 울리는 영화      1
496  10212901                             평점이 아무도 없네요 10점 주고갑니다.      1
497   2072122                 베니니영화에 따라다니는 니콜레타의 매력을 제대로 볼수있는영화,      1
498   8450229      10년전 생각이 나서 그립기도 하네요 dvd로 소장중이니 다시 1편부터 봐야겠네요      1
499   5833445                      상영종료해서 일본판으로..재미있다!!!!!!!!!!!      1

[500 rows x 3 columns]

In [12]:
'''
전처리는 label하고 나중에

# 한글과 공백을 제외하고 모두 제거
df['document'] = df['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
df.head()

'''

'\n전처리는 label하고 나중에\n\n# 한글과 공백을 제외하고 모두 제거\ndf[\'document\'] = df[\'document\'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")\ndf.head()\n\n'